In [44]:
import numpy as np
import pandas as pd

In [61]:
# 2.1 Data As you Know It
'''Column: A column describes data of a single type. For example, you could have a column
of weights or heights or prices. All the data in one column will have the same scale and
have meaning relative to each other.
 Row: A row describes a single entity or observation and the columns describe properties
about that entity or observation. The more rows you have, the more examples from the
problem domain that you have.
 Cell: A cell is a single value in a row and column. It may be a real value (1.5) an integer (2) 
or a category (red)'''
col_names = ['Column 1', 'Column 2', 'Column 3']
row_names = ['Row 1', 'Row 2', 'Row 3']

matrix = np.reshape((2.2,2.3,1,2.3,2.6,0,2.1,2,1), (3,3))
dataset = pd.DataFrame(matrix, columns=col_names, index=row_names)
dataset.head()
# col, row, cell

       Column 1  Column 2  Column 3
Row 1       2.2       2.3       1.0
Row 2       2.3       2.6       0.0
Row 3       2.1       2.0       1.0

In [66]:
# 2.2 Statistical Learning Perspective
# Dependent Variable = f(Independent Variables)
IndependentVariables = ['X1', 'X2', 'X3']
DependentVariable = ['1', '2', '3']
dataset = pd.DataFrame(matrix, columns=IndependentVariables, index=DependentVariable)
dataset.head()

    X1   X2   X3
1  2.2  2.3  1.0
2  2.3  2.6  0.0
3  2.1  2.0  1.0

In [69]:
# 2.3 Computer Science Perspective
# OutputAttribute = Program(InputAttributes)
# Prediction = Program(Instance)
OutputAttribute = ['Attribute 1', 'Attribute 2', 'Attribute 3']
InputAttributes = ['Instance 1', 'Instance 2', 'Instance 3']
dataset = pd.DataFrame(matrix, columns=OutputAttribute, index=InputAttributes)
dataset.head()

            Attribute 1  Attribute 2  Attribute 3
Instance 1          2.2          2.3          1.0
Instance 2          2.3          2.6          0.0
Instance 3          2.1          2.0          1.0

In [ ]:
'''Model = Algorithm(Data)'''